<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.khxcx.mapper.LikesMapper" >
  <resultMap id="BaseResultMap" type="com.example.khxcx.pojo.Likes" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="blank_space_one" property="blankSpaceOne" jdbcType="VARCHAR" />
    <result column="blank_space_three" property="blankSpaceThree" jdbcType="VARCHAR" />
    <result column="blank_space_two" property="blankSpaceTwo" jdbcType="VARCHAR" />
    <result column="dianzan_id" property="dianzanId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, blank_space_one, blank_space_three, blank_space_two, dianzan_id, user_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.khxcx.pojo.LikesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from likes
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from likes
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from likes
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.khxcx.pojo.LikesExample" >
    delete from likes
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.khxcx.pojo.Likes" >
    insert into likes (id, blank_space_one, blank_space_three, 
      blank_space_two, dianzan_id, user_id
      )
    values (#{id,jdbcType=BIGINT}, #{blankSpaceOne,jdbcType=VARCHAR}, #{blankSpaceThree,jdbcType=VARCHAR}, 
      #{blankSpaceTwo,jdbcType=VARCHAR}, #{dianzanId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.khxcx.pojo.Likes" >
    insert into likes
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="blankSpaceOne != null" >
        blank_space_one,
      </if>
      <if test="blankSpaceThree != null" >
        blank_space_three,
      </if>
      <if test="blankSpaceTwo != null" >
        blank_space_two,
      </if>
      <if test="dianzanId != null" >
        dianzan_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="blankSpaceOne != null" >
        #{blankSpaceOne,jdbcType=VARCHAR},
      </if>
      <if test="blankSpaceThree != null" >
        #{blankSpaceThree,jdbcType=VARCHAR},
      </if>
      <if test="blankSpaceTwo != null" >
        #{blankSpaceTwo,jdbcType=VARCHAR},
      </if>
      <if test="dianzanId != null" >
        #{dianzanId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.khxcx.pojo.LikesExample" resultType="java.lang.Integer" >
    select count(*) from likes
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update likes
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.blankSpaceOne != null" >
        blank_space_one = #{record.blankSpaceOne,jdbcType=VARCHAR},
      </if>
      <if test="record.blankSpaceThree != null" >
        blank_space_three = #{record.blankSpaceThree,jdbcType=VARCHAR},
      </if>
      <if test="record.blankSpaceTwo != null" >
        blank_space_two = #{record.blankSpaceTwo,jdbcType=VARCHAR},
      </if>
      <if test="record.dianzanId != null" >
        dianzan_id = #{record.dianzanId,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update likes
    set id = #{record.id,jdbcType=BIGINT},
      blank_space_one = #{record.blankSpaceOne,jdbcType=VARCHAR},
      blank_space_three = #{record.blankSpaceThree,jdbcType=VARCHAR},
      blank_space_two = #{record.blankSpaceTwo,jdbcType=VARCHAR},
      dianzan_id = #{record.dianzanId,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.khxcx.pojo.Likes" >
    update likes
    <set >
      <if test="blankSpaceOne != null" >
        blank_space_one = #{blankSpaceOne,jdbcType=VARCHAR},
      </if>
      <if test="blankSpaceThree != null" >
        blank_space_three = #{blankSpaceThree,jdbcType=VARCHAR},
      </if>
      <if test="blankSpaceTwo != null" >
        blank_space_two = #{blankSpaceTwo,jdbcType=VARCHAR},
      </if>
      <if test="dianzanId != null" >
        dianzan_id = #{dianzanId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.khxcx.pojo.Likes" >
    update likes
    set blank_space_one = #{blankSpaceOne,jdbcType=VARCHAR},
      blank_space_three = #{blankSpaceThree,jdbcType=VARCHAR},
      blank_space_two = #{blankSpaceTwo,jdbcType=VARCHAR},
      dianzan_id = #{dianzanId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>